DB_NAME=hospital_roster
DB_USER=postgres
DB_PASSWORD=your-postgres-password
DB_HOST=localhost
DB_PORT=5432

DJANGO_SECRET_KEY='generate-one-see-README'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

EMAIL_MODE=console
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=
DEFAULT_FROM_EMAIL="Roster Management <noreply@roster.local>"